<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    
    <form action="/" method="POST">
        <p>Author: 
        <select name='name'>
            <% authors.forEach(item=>{ %>
            <option value="<%=item.id%>"><%=item.fname%> <%=item.lname%></option>
            <% }) %>
        </select>
        </p>
        <p>Category:
        <select name='category'>
            <% categories.forEach(item=>{ %>
            <option value="<%=item.id%>"><%=item.name%></option>
            <% }) %>
        </select>
        </p>
        <p>Title: <br><input type="text" name="title"></p>
        <p>Body: <br><textarea type="text" name="content" rows=6></textarea>
        </p>
        <input type="file" name="myUpload"><br>
        <input type="submit" value="Submit">

    </form>
 

</body>
</html>